@import url(../common.css);

main .private-care-container {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

main .private-care-container .private-care-card .private-care-image {
  height: 100px;
  width: 10%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

main .private-care-container .private-care-card {
  background-color: white;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  gap: 10px;
}

main .private-care-container .private-care-card .private-care-content {
  display: flex;
  flex-direction: column;
  width: 90%;
  gap: 10px;
}

main
  .private-care-container
  .private-care-card
  .private-care-content
  .private-care-title {
  font-size: 16px;
  font-weight: bold;
  color: var(--logo-grey);
}

main
  .private-care-container
  .private-care-card
  .private-care-content
  .private-care-nav
  span
  button {
  background-color: transparent;
  color: var(--logo-purple);
  font-weight: bold;
  border-radius: 10px;
  border: 2px solid var(--logo-purple);
  padding: 10px;
}

main
  .private-care-container
  .private-care-card
  .private-care-content
  .private-care-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 2px solid var(--logo-purple);
  padding: 10px;
}

main
  .private-care-container
  .private-care-card
  .private-care-content
  .private-care-nav
  button {
  background-color: var(--logo-purple);
  color: white;
  font-weight: bold;
  border-radius: 10px;
  border: 2px solid var(--logo-purple);
  padding: 10px;
}

main
  .private-care-container
  .private-care-card
  .private-care-content
  .private-care-nav
  button:hover {
  background-color: transparent;
  color: var(--logo-purple);
  cursor: pointer;
}

main
  .private-care-container
  .private-care-card
  .private-care-nav
  .private-care-contacts
  img {
  width: 15px;
  height: 15px;
}

main
  .private-care-container
  .private-care-card
  .private-care-nav
  .private-care-contacts {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  max-width: 80%;
  color: var(--logo-grey);
  font-size: 14px;
}

main
  .private-care-container
  .private-care-card
  .private-care-nav
  .private-care-contacts
  .private-care-contacts-content {
  display: flex;
  gap: 10px;
}
