{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/client/profile.css') }}" />
<title>Client Profile</title>
<script defer src="{{ url_for('static', filename='js/image_loader.js') }}"></script>
<script defer src="{{ url_for('static', filename='js/navbar.js') }}"></script>
{% endblock head %}

{% block top_nav %}
<div class="profile-container">
  <div class="notifications">
    <div class="notification-nav">
      <img src="{{ url_for('static', filename='images/bell.png') }}" alt="" />
      {% if notification_count > 0 %}
      <div class="count">{{ notification_count }}</div>
      {% else %}
      <div class="count" style="display: none">0</div>
      {% endif %}
    </div>
    <div class="notification-content" style="display: none">
      {% for notification in notifications %}
      <div class="notification-card">
        <div class="notification-title">
          <div class="notification-image">
            <img src="{{ notification['image'] }}" alt="" />
          </div>
          <span>{{ notification['title'] }}</span>
        </div>
        <div class="notification-message">{{ notification['message'] }}</div>
      </div>
      {% endfor %}
    </div>
  </div>
  <div class="profile">
    <div class="profile-image" style="background-image: url({{ profile['photo'] }})"></div>
    <div class="profile-items" style="display: none">
      <a href="/client/profile"><div class="my-profile">Profile</div></a>
      <a href="/client/logout"><div class="logout">Logout</div></a>
    </div>
  </div>
</div>
{% endblock top_nav %}

{% block main %}
<main>
  <div class="side-bar">
    <ul>
      <a href="/client/dashboard"><li>dashboard</li></a>
      <a href="/client/profile"><li class="active">profile</li></a>
      <a href="/client/home"><li>home care</li></a>
      <a href="/client/private"><li>private care</li></a>
      <a href="/client/appointments"><li>appointments</li></a>
    </ul>
  </div>
  <div class="content">
    <div class="content-title">Profile</div>
    <div class="content-details">
      <form action="/client/profile/update" method="post">
        <div class="profile-container">
          <div class="profile-image-container">
            <div class="profile-image" style="background-image: url({{ profile['photo'] }})">
              <input type="file" name="profile_file" id="profile-file" style="display: none"/>
              <input type="text" name="profile_image" id="profile-image-placeholder" style="display: none" value="{{ profile['photo'] }}" />
            </div>
            <div class="profile-edit">
              <img src="{{ url_for('static', filename='images/pencil.png') }}" alt="" />
            </div>
          </div>
          <div class="profile-first-name profile-input">
            <label>First Name</label>
            <input type="text" name="first_name" value="{{ profile['first_name'] }}" />
          </div>
          <div class="profile-last-name profile-input">
            <label>Last Name</label>
            <input type="text" name="last_name" value="{{ profile['last_name'] }}" />
          </div>
          <div class="profile-username profile-input">
            <label>Username</label>
            <input type="text" name="username" value="{{ profile['username'] }}" />
          </div>
          <div class="profile-age profile-input">
            <label>Age</label>
            <input type="number" name="age" value="{{ profile['age'] }}" />
          </div>
          <div class="profile-phone profile-input">
            <label>Phone</label>
            <input type="tel" name="phone" value="{{ profile['phone'] }}" />
          </div>
          <div class="profile-email profile-input">
            <label>Email</label>
            <input type="email" name="email" value="{{ profile['email'] }}" />
          </div>
          <div class="profile-region profile-input">
            <label>Region</label>
            <input type="text" name="region" value="{{ profile['region'] }}" />
          </div>
          <div class="profile-county profile-input">
            <label>County</label>
            <input type="text" name="county" value="{{ profile['county'] }}" />
          </div>
          <div class="profile-emergency-name profile-input">
            <label>Emergency Contact's Name</label>
            <input type="text" name="emergency_name" value="{{ profile['emergency_name'] }}" />
          </div>
          <div class="profile-emergency-phone profile-input">
            <label>Emergency Contact's Phone</label>
            <input type="tel" name="emergency_contact" value="{{ profile['emergency_contact'] }}" />
          </div>
          <div class="profile-marital-status profile-input">
            <label>Marital Status</label>
            <select name="marital_status" id="profile-marital-status">
              {% if profile['marital_status'] == 'married' %}
              <option value="married" selected>Married</option>
              {% else %}
              <option value="married">Married</option>
              {% endif %}
              {% if profile['marital_status'] == 'divorced' %}
              <option value="divorced" selected>Divorced</option>
              {% else %}
              <option value="divorced">Divorced</option>
              {% endif %}
              {% if profile['marital_status'] == 'separated' %}
              <option value="separated" selected>Separated</option>
              {% else %}
              <option value="separated">Separated</option>
              {% endif %}
              {% if profile['marital_status'] == 'single' %}
              <option value="single" selected>Single</option>
              {% else %}
              <option value="single">Single</option>
              {% endif %}
            </select>
          </div>
          <div class="profile-children profile-input">
            <label>Number of Children</label>
            <input type="number" name="children" value="{{ profile['children_number'] }}" />
          </div>
          <div class="profile-password profile-input">
            <label>Password</label>
            <input type="password" name="password" value="{{ profile['password'] }}" />
          </div>
          <div class="profile-update">
            <button type="submit" name="client-update">Update</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</main>
{% endblock main %}
