@import url(common.css);

main .content .summary {
  background-color: white;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
}

main .content .summary .details {
  background-color: rgb(233, 232, 232);
  padding: 10px;
}

main .summary .details .details-name {
  font-size: 20px;
  font-weight: bold;
  color: var(--logo-purple);
}

main .summary .details .details-location {
  font-size: 14px;
  font-style: italic;
  color: var(--logo-grey);
}

main .summary .card-summary {
  padding: 10px;
  display: flex;
  gap: 10px;
  justify-content: space-around;
}

main .summary .card-summary .card {
  border: 2px solid var(--logo-grey);
  padding: 5px 10px;
  border-radius: 5px;
  flex: 1;
}

main .card-summary .card .card-title {
  font-family: cursive;
}

main .card-summary .card .card-count {
  font-size: 40px;
  font-family: fantasy;
}

main .card-summary .card .card-details a {
  font-size: 14px;
  font-weight: bold;
  color: rgb(106, 106, 248);
}
