{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/private/appointments.css') }}" />
<title>Private Care Dashboard</title>
<script defer src="../../js/navbar.js"></script>
<script defer src="{{ url_for('static', filename='js/navbar.js') }}"></script>
<script src="{{ url_for('static', filename='js/server.js') }}"></script>
{% if single_request and single_request['status'] == 'scheduling' %}
<script defer src="{{ url_for('static', filename='js/private/calendar.js') }}"></script>
<script defer src="{{ url_for('static', filename='js/private/appointments.js') }}"></script>
{% endif %}
{% endblock head %}

{% block top_nav %}
<div class="profile-container">
  <div class="notifications">
    <div class="notification-nav">
      <img src="{{ url_for('static', filename='images/bell.png') }}" alt="" />
      {% if notification_count > 0 %}
      <div class="count">{{ notification_count }}</div>
      {% else %}
      <div class="count" style="display: none">0</div>
      {% endif %}
    </div>
    <div class="notification-content" style="display: none">
      {% for notification in notifications %}
      <div class="notification-card">
        <div class="notification-title">
          <div class="notification-image">
            <img src="{{ notification['image'] }}" alt="" />
          </div>
          <span>{{ notification['title'] }}</span>
        </div>
        <div class="notification-message">{{ notification['message'] }}</div>
      </div>
      {% endfor %}
    </div>
  </div>
  <div class="profile">
    <div class="profile-image" style="background-image: url({{ private['image'] }})"></div>
    <div class="profile-items" style="display: none">
      <a href="/private/profile"><div class="my-profile">Profile</div></a>
      <a href="/private/logout"><div class="logout">Logout</div></a>
    </div>
  </div>
</div>
{% endblock top_nav %}

{% block main %}
    <main>
      <div class="side-bar">
        <ul>
          <a href="/private/dashboard"><li>dashboard</li></a>
          <a href="/private/profile"><li>profile</li></a>
          <a href="/private/appointments"><li class="active">appointments</li></a>
          <a href="/private/clients"><li>clients</li></a>
          <a href="/private/requests"><li>requests</li></a>
        </ul>
      </div>
      <div class="content">
        <div class="content-title">Appointments</div>
        <div class="content-details">
          {% if single_request and single_request['status'] == 'scheduling' %}
          <div class="calendar-wrapper-details"></div>
          {% else %}
          <div class="client-wrapper">
              <div class="content-details">
                <div class="content-table">
                  <div class="table-headers">id</div>
                  <div class="table-headers">first name</div>
                  <div class="table-headers">last name</div>
                  <div class="table-headers">age</div>
                  <div class="table-headers">phone</div>
                  <div class="table-headers">email</div>
                  <div class="table-headers">status</div>
                  <div class="table-headers">actions</div>
                  {% for client in clients %}
                  <div class="table-content table-id" data-client="0">{{ client['_id'] }}</div>
                  <div class="table-content" data-client="0">{{ client['first_name'] }}</div>
                  <div class="table-content" data-client="0">{{ client['last_name'] }}</div>
                  <div class="table-content" data-client="0">{{ client['age'] }}</div>
                  <div class="table-content" data-client="0">{{ client['phone'] }}</div>
                  <div class="table-content" data-client="0">{{ client['email'] }}</div>
                  <div class="table-content status" data-client="0">{{ client['status'] }}</div>
                  <div class="actions" data-client="0">
                    <a href="/private/clients/{{ client['_id'] }}" class="more" data-client="0">
                      <button data-client="0">Details</button>
                    </a>
                    {% if client['status'] == 'active' %}
                    <a href="/private/clients/{{ client['_id'] }}/appointments" class="schedule" data-client="0">
                      <button data-client="0">Schedule</button>
                    </a>
                    {% endif %}
                  </div>
                  {% endfor %}
                </div>
              </div>
          </div>
          {% endif %}
        </div>
      </div>
    </main>
    <div class="calendar-event-form" style="display: none">
      <div class="close-event">
        <img src="{{ url_for('static', filename='images/close.png') }}" alt="" />
      </div>
      <form class="calendar-event-input">
        <div class="event-title">
          Add Event on <span id="event-date">Date</span>
        </div>
        <input type="text" name="event" placeholder="Event" />
        <button type="submit">Add</button>
      </form>
    </div>
{% endblock main %}
