{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/private/dashboard.css') }}" />
<title>Private Care Dashboard</title>
<script defer src="{{ url_for('static', filename='js/navbar.js') }}"></script>
{% endblock head %}

{% block top_nav %}
<div class="profile-container">
  <div class="notifications">
    <div class="notification-nav">
      <img src="{{ url_for('static', filename='images/bell.png') }}" alt="" />
      {% if notification_count > 0 %}
      <div class="count">{{ notification_count }}</div>
      {% else %}
      <div class="count" style="display: none">0</div>
      {% endif %}
    </div>
    <div class="notification-content" style="display: none">
      {% for notification in notifications %}
      <div class="notification-card">
        <div class="notification-title">
          <div class="notification-image">
            <img src="{{ notification['image'] }}" alt="" />
          </div>
          <span>{{ notification['title'] }}</span>
        </div>
        <div class="notification-message">{{ notification['message'] }}</div>
      </div>
      {% endfor %}
    </div>
  </div>
  <div class="profile">
    <div class="profile-image" style="background-image: url({{ private['image'] }})"></div>
    <div class="profile-items" style="display: none">
      <a href="/private/profile"><div class="my-profile">Profile</div></a>
      <a href="/private/logout"><div class="logout">Logout</div></a>
    </div>
  </div>
</div>
{% endblock top_nav %}

{% block main %}
<main>
  <div class="side-bar">
    <ul>
      <a href="/private/dashboard"><li class="active">dashboard</li></a>
      <a href="/private/profile"><li>profile</li></a>
      <a href="/private/appointments"><li>appointments</li></a>
      <a href="/private/clients"><li>clients</li></a>
      <a href="/private/requests"><li>requests</li></a>
    </ul>
  </div>
  <div class="content">
    <div class="summary">
      <div class="details">
        <div class="details-name">{{ private["name"] }}</div>
        <div class="details-location">
          <span class="details-phone">
            <img src="{{ url_for('static', filename='images/phone.png') }}" alt="">
            {{ private["phone"] }}
          </span>
          <span class="details-email">
            <img src="{{ url_for('static', filename='images/email.png') }}" alt="">
            {{ private["email"] }}
          </span>
          <span class="details-facebook">
            <img src="{{ url_for('static', filename='images/facebook-dark.png') }}" alt="">
            {{ private["facebook"] }}
          </span>
          <span class="details-instagram">
            <img src="{{ url_for('static', filename='images/instagram-dark.png') }}" alt="">
            {{ private["instagram"] }}
          </span>
        </div>
      </div>
      <div class="card-summary">
        <div class="card">
          <div class="card-title">Clients Registered</div>
          <div class="card-count">{{ client_count }}</div>
          <div class="card-details">
            <a href="/private/clients">view details</a>
          </div>
        </div>
        <div class="card">
          <div class="card-title">Registration Requests</div>
          <div class="card-count">{{ request_count }}</div>
          <div class="card-details">
            <a href="/private/requests">view details</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock main %}
